@using System;

@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Patron Details</h2>
<hr /><br>
<div class="row">
    <div class="col-sm">
      <h3>@Html.DisplayFor(model => model.PatronFirstName) @Html.DisplayFor(model => model.PatronLastName)</h3><br>

@if(@Model.Copies.Count == 0)
{
  <p>This patron does not have any books that are currently checked out.</p><br><br>
}
else
{
  <h4>Copies the Patron belongs to:</h4><hr>
  @foreach(var join in Model.Copies)
  {
    <p class="list-details"><a href="/Copies/Details/@join.Copy.CopyId">@join.Copy.CopyName</a></p>
    <p>checkout date & time: @join.Date(@join.CopyCheckoutDate)</p>
    <p>Due Date: @join.Date(@join.CopyCheckoutDate.AddDays(14))</p><hr>
  }
  
}
<p>@Html.ActionLink("Checkout a book for this Patron", "AddCopy", new { id = Model.PatronId }, new { @class="btn btn-outline-info btn-block"})</p><br>
<p>@Html.ActionLink("List of Patrons", "Index", null, null, new {@class="btn btn-outline-dark btn-block"})</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId }, new { @class="btn btn-outline-dark btn-block"})</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId }, new { @class="btn btn-outline-danger btn-block"})</p>
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>