@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Add copies</h2>

<h4>Add copies to this book: @Html.DisplayFor(model => model.BookName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookId)

    @Html.Label("Select Copy")
    @Html.DropDownList("CopyId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index", null, null, new { @class="btn btn-outline-dark btn-block"})</p>