@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h3>Add a new Book</h3><hr>

<div class="row">
  <div class="col-sm">
  </div>
    <div class="col-sm">
    @using (Html.BeginForm())
  {
  <p>Book Title: </p>
  @Html.TextBoxFor(model => model.BookName, new {@style="width:100%"})<br><br>
  <p>Book Description: </p>
  @Html.TextBoxFor(model => model.BookDescription, new {@style="width:100%"})<br><br>
  <p>Number of Books: </p>
  @Html.TextBoxFor(model => model.NumberOfBooks, new {@style="width:100%"})<br><br>

  <p>Author: </p>
  @Html.DropDownList("AuthorId", null, new {@class="form-control"})<br>
  <p>Don't see your author? Add one <a href="/Authors/Create">here</a>.</p><br>

  <p>Genre: </p>
  @Html.DropDownList("GenreId", null, new {@class="form-control"})<br>
  <p>Don't see your genre? Add one <a href="/Genres/Create">here</a>.</p><br>

  <input type="submit" value="Add a new book" class="btn btn-outline-dark btn-block" /><br>
  }
  <p>@Html.ActionLink("Show all Books", "Index", null, null, new { @class="btn btn-outline-dark btn-block"})</p>
    </div>
    <div class="col-sm">
    </div>
  </div>